.card {
  background-color: rgb(167, 168, 158);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 16px;
  margin: 8px 56px;
  border-radius: 8px;
  position: relative;
  align-content: center;
}

.card > button {
  position: absolute;
  top: 4px;
  left: 4px;
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.people {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

h4 {
  margin: 0;
  font-size: 24px;
  justify-content: center;
}

p {
  font-size: 24px;
  margin: 0;
}
