.edit-profile {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  color: white
}

.edit-profile-details {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  color: white;
}