.profileDetails {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.profileDetails * {
  text-align: center;
}

img {
  width: 200px;
  align-self: center;
}



.profileDetails h2 {
  font-size: 24px;
  text-align: left;
  margin: 0;
}

.profileDetails > p {
  margin: 8px 0;
  font-size: 16px;
}

.profileDetails > a {
  text-decoration: underline;
  margin: 8px 0;
  font-size: 16px;

}

.profileDetails form {
  align-self: right;
  padding: 0;
  margin-bottom: 4px;
}

#remove {
  text-align: right;
  padding: 0;
  max-width: fit-content;
  align-self: flex-end;
}

#name {
  font-size: 32px;
}

.add {
  text-align: left;
  margin: 0;
  text-decoration: none;
}

#editLink{
  text-align: left;
  text-decoration: none;
}