.menuIcon > * {
  width: 60px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 55px 10px 15px;
  align-self: center;
}

.menu {
  /* position: fixed; */
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  /* background-color: slategray; */
  color: black;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
}

.menu h4 {
  font-size: 16px;
}

.menu, .open {
  transform: translateX(0);
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
}

.navRow {
  display: flex;

  justify-content: space-between;
  width: 90%;
  margin: 15px;
}

.logo {
  width: 100px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.open {
  /* background-color: red; */
}