.recordCard {
  margin-top: 8px;
}

.recordCard h3 {
  font-size: 22px;
  margin: 4px;
}

.recordCard p {
  margin: 2px 0;
}

#edu {
  display: flex;
  align-items: center;
  justify-content: center;
}