.recordCard {
  margin-top: 8px;
  border-top: 1px solid black;
}

.recordCard h3 {
  font-size: 18px;
  margin: 4px;
}

.recordCard p {
  margin: 2px 0;
}

.recordCard > h3 > p {
  font-weight: lighter;
}